body {
  background-color: #f7f7f7;
}

/* Styling the bootstrap grid  */

.container {
  padding:50px;
  background-color: white
}
.catalog-content {
  margin-top: 15px
}

.row-no-margin {
  margin-left: 0;
}

/* Adding additional styles to the navbar */
.navbar-right {
  font-size: 16px
}


/* Styling the category name */

span.category-name {
  color: #8c8585;
  font-weight: 500;
  font-style: italic;
}


/* Styling form elements */

button.btn {
  margin-top:20px
}

label {
  font-size: 16px;
  margin-top: 15px;
}

/* Styling the headers */

.second-header {
  margin-top: 10px
}
.header-photo {
  margin: 10px;
  height:30px;
  width: 30px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
}

/* Styling the item */

.item-image {
  width: 330px;
  height:240px;
  margin-bottom:30px;
}



/* Styling the Login Picture shown once the user logs in */

  img#profile {
    width: 120px;
    height: 120px;
    border-radius: 60px;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
  }
/* Styling the login Container Row */

.login-container {
    width:100%;
    margin-top: 20px;
}
/* Styling the Anchor Tags */

a {
  color: #ff1800;
  font-weight: 500;
  font-size:16px;
}

a:hover {
  color:black;
  text-decoration: none
}

/* Styling Alerts */
.alert {
  margin-bottom: 0px;
  border: none;
}

.alert-info {
  margin-top: 40px;
  margin-left: 0;
  margin-right: 0;
}

/* Class Style for Making elements Disappear */

.invisible {
  display: none;
}

/*
  Login Animations
*/

#loginredirect {
  margin-top:20px;
  font-size: 17px;
}
#bouncingflash {
  margin-top:60px;
  font-size: 17px;
}

/*
  Add Border Between The Category Column and the Item Column
*/

.border-between > [class*='col-']:before {
      left: 0;
}
.border-between > [class*='col-']:after {
      right: -1px;
}
.border-between > [class*='col-']:first-child:before,
.border-between > [class*='col-']:last-child:after {
      display: none;
}
}

@media (min-width: 992px) {
  .border-between> [class*='col-']:before,
  .border-between > [class*='col-']:after {
      background: #e3e3e3;
      bottom: 0;
      content: " ";
      position: absolute;
      width: 1px;
      top: 0;
  }
