<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="{{url_for('mainPage')}}">Item Catalog</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="{{url_for('mainPage')}}">Home</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      {% if 'username' not in session %}
        <li><a href="{{url_for('showLogin')}}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      {% else %}
        <li><img class="header-photo" src="{{session['picture']}}"></li>
        <li><a href="{{url_for('logout')}}"><span class="glyphicon glyphicon-log-out "></span> Logout</a></li>
      {% endif %}
    </ul>
  </div>
</nav>
